*{ padding: 0; margin: 0;}

body {
	font-family: Roboto;
	color:#000;
}

h1 {
	font-size: 40px;
	line-height: 36px;
	font-weight: 500;
	text-align: center;
	margin-top: 0;
	padding-bottom: 92px;
	margin-bottom: 80px;
}
	
h2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.background-wrapper {
	width: 100%;
	background-color: #eeeeee;
}
	
.wrapper-main {
	max-width: 900px;
	min-width: 900px;
	padding: 0 10px;
	margin: 0 auto;
	overflow: hidden;
}
	
.header-main {
	overflow: hidden;
	padding-top: 62px;
	padding-bottom: 62px;
	background-color: #eeeeee;
}

.header-main  nav {
	margin-left: 180px;
	margin-top: 20px;
}

.header-main a{
	float: left;
	color: #000;
	text-decoration: none;
}

.header-main a:hover{
	color: #f8888b;
}

.header-main a:focus {
	color: #000;
	border-bottom: 2px solid #fb565a;
}

.header-main a:active{
	color: #ababab;
}
	
.header-main-menu {
	width: 440px;
	float: left;
}

.header-main-menu ul li {
	float: left;
	margin-left: 30px;
	list-style: none
}

.header-main-menu a:active {
	color: #ababab;
}

.header-main-basket {
	float: right;
	margin-top: 20px;
}

.header-main-basket a{
	color: #000;
}

.header-main-basket a:hover{
	color: #f8888b;
}

.header-main-basket a:focus{
	color: #000;
	border-bottom: 2px solid #fb565a;
}

.header-main-basket a:active {
	color: #ababab;
}

.header-main-basket  img{
	float: left;
	margin-right: 13px;
}

.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:380px;
    padding:30px 0;
    color:#283136;
}
.slide-title{
    font-size:36px;
    line-height:1;
    font-weight:bold;
    color:black;
	margin-bottom: 20px;
}
.slide .btn{
    display:block;
    width:240px;
    padding:10px 0;
    margin-top:25px;
    font-size:12px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
}

.slide a.btn:hover {
	background-color: #d6494d;
}

.slide a.btn:active {
	background-color: #b63538;
}

.slide:nth-child(1){
    background-image:url('../img/slider-bg.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slider-bg-2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider-bg-3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}
	
.wrapper-services {
	overflow: hidden;
	margin-bottom: 10px;
	padding-top: 80px;
	padding-bottom: 78px;
	border-bottom: 2px solid #eee;
}

.order-services-1 {
	width: 240px;
	float: left;
}

.order-services-1 h2 {
	margin-top: 30px;
}

.order-services-1 p {
	margin-top: 28px;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 22px;
}

.order-services-1 a{
	padding: 14px 40px;
	text-decoration: none;
	border-radius: 2px;
	font-weight: bold;
	font-size: 12px;
	background-color: #fb565a;
	color: #fff;
}

.order-services-1 a:hover {
	background-color: #d6494d;
	color: #f4d9d9;
}

.order-services-1 a:active {
	background-color: #b63538;
	color: #f4d9d9;
}

.order-services-2{
	width: 240px;
	float: left;
	margin: 0px 90px;
}

.order-services-2 h2 {
	margin-top: 30px;
}

.order-services-2 p {
	margin-top: 28px;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 22px;
}

.order-services-2 a{
	padding: 14px 40px;
	text-decoration: none;
	border-radius: 2px;
	font-weight: bold;
	font-size: 12px;
	background-color: #00ca74;
	color: #fff;
}

.order-services-2 a:hover {
	background-color: #01a25e;
	color: #f4d9d9;
}

.order-services-2 a:active {
	background-color: #009053;
	color: #f4d9d9;
}

.order-services-3{
	width: 240px;
	float: right;
}

.order-services-3 h2 {
	margin-top: 30px;
}

.order-services-3 p {
	margin-top: 28px;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 22px;
}

.order-services-3 a{
	padding: 14px 40px;
	text-decoration: none;
	border-radius: 2px;
	font-weight: bold;
	font-size: 12px;
	background-color: #efc84a;
	color: #fff;
}

.order-services-3 a:hover {
	background-color: #d6ae2c;
	color: #f4d9d9;
}

.order-services-3 a:active {
	background-color: #c09b24;
	color: #f4d9d9;
}

.wrapper-info-studio {
	overflow: hidden;
	padding-top: 57px;
	padding-bottom: 70px;
	margin-bottom: 10px;
}
	
.wrapper-info-studio .info-tech {
	width: 600px;
	float: left;
}

.info-tech h2 {
	margin-bottom: 20px;
	font-size: 35px;
	line-height: 36px;
	color: #000;
	font-weight: bold;
}

.info-tech p {
	font-size: 16px;
	line-height: 22px;
}

.info-tech p:last-of-type{
	margin-top: 50px;
	margin-bottom: 30px;
}

.info-tech ul {
	list-style: none;
}

.info-tech ul li {
	line-height: 35px;
	background: url(../img/red_line.gif) left 18px no-repeat;
	padding-left: 35px;
}
	
.wrapper-info-studio .info-work {
	width: 250px;
	float: right;
}

.info-work ul {
	list-style: none;
}

.info-work ul li {
	line-height: 35px;
	background: url(../img/red_line.gif) left 18px no-repeat;
	padding-left: 35px;
}

.info-work p:first-of-type{
	margin-top: 50px;
	margin-bottom: 30px;
}

.info-work img {
	margin-bottom: 28px;
}

.info-work img:first-of-type {
	margin-left: 66px;
}

.info-work p {
	font-size: 16px;
	line-height: 22px;
}

.pictures-brands {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	padding: 40px 29px 33px 29px;
	margin-bottom: 85px;
	overflow: hidden;
}

.pictures-brands img {
	opacity: 0.2;
}

.pictures-brands img:hover {
	opacity: 1;
	cursor: pointer;
}
	
.pictures-brands img[src*="brands_1"]{
	float: left;
	margin-top: 16px;
}
	
.pictures-brands img[src*="brands_2"]{
	float: left;
	margin-left: 130px;
}

.pictures-brands img[src*="brands_3"]{
	float: right;
}

.map-widget {
	position: relative;
	margin-bottom: 10px;
}

.map-widget img[src*="logo_map"] {
	position: absolute;
	top: 113px;
	right: 80px;
}

.map-widget .map-info {
	position: absolute;
	top: 88px;
	left: 120px;
	padding: 30px 23px 26px 23px;
	background-color: #fff;
}

.map-info h2 {
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 30px;
	color: #000;
}

.map-info p {
	font-size: 16px;
	line-height: 20px;
	color: #666666;
}

.map-info a {
	display: block;
	margin-top: 30px;
	padding: 14px 54px 14px 54px;
	border-radius: 2px;
	text-decoration: none;
	background-color: #fb565a;
	color: #fff;
}

.map-info a:hover {
	background-color: #d6494d;
}

.map-info a:active {
	background-color: #b63538;
}

.modal-content {
	display: none; /* контактная форма появляется при нажатии на кнопку на карте */
	width: 460px;
	padding: 55px 90px 50px 80px;
	position: absolute;
	bottom: 37px;
	left: 137px;
	background-color: #fff;
	box-shadow: 1px 2px 2px 1px;
}

.modal-content-show {
	display: block;
	animation: formanim 1s;
	animation-fill-mode:forwards;
}

.modal-content img {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.single-field {
	float: left;
}

.modal-content label {
	font-weight: 800;
}

.modal-content input[name="Name"] {
	display: inline-block;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	width: 190px;
	height: 12px;
	margin-right: 16px;
	margin-top: 12px;
	padding: 12px 14px 12px 14px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 800;
	color: #000;
}

.modal-content input[name="Email"] {
	display: inline-block;
	border: 2px solid #d7dcde;
	border-radius: 2px;
	width: 190px;
	height: 12px;
	margin-top: 12px;
	padding: 12px 14px 12px 14px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 800;
	color: #000;
}

.modal-content input[name="Name"]:hover {
	/*! border: 2px solid #a2a9ac; */
}

.modal-content input[name="Email"]:hover {
	border: 2px solid #a2a9ac;
}

.modal-content input[name="Name"]:focus {
	border: 2px solid #56bffb;
}

.modal-content input[name="Email"]:focus {
	border: 2px solid #56bffb;
}

.modal-content  textarea {
	display: block;
	width: 428px;
	height: 115px;
	resize: none;
	border: 2px solid #d7dcde;
	margin-top: 12px;
	margin-bottom: 48px;
	border-radius: 2px;
	padding: 12px 14px;
	background-color: #fff;
	color: #000;
}

.modal-content textarea:hover {
	border: 2px solid #a2a9ac;
}

.modal-content textarea:focus {
	border: 2px solid #56bffb;
}

.modal-content input[type="submit"] {
	width: 460px;
	height: 40px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	background-color: #fb565a;
	color: #fff;
	display: block;
}

.modal-content input[type="submit"]:hover {
	background-color: #d6494d;
}

.modal-content input[type="submit"]:active {
	background-color: #b63538;
}

@keyframes formanim{
    0% {
        opacity: 0;
    }
	
    60% {
        opacity: 0.5;
       transform:rotate(360deg);
    }
		
	70%, 90%{
		opacity:1;
		transform:translateX(-10px);
		
	}
	
	80%, 100%{
		transform:translateX(10px);
	}

}

@keyframes valid{
	0%, 60%{opacity:0;} 
	30%{ opacity:1; }
	100%{ opacity:1; 
	background-color:#fb565a;
	}
}

.redbord{  animation:valid 1s; }

footer {
	padding-bottom: 77px;
	padding-top: 74px;
	overflow: hidden;
}
	
footer .footer-social-buttons {
	float: left;
	margin-top: 13px;
}

.footer-social-buttons .vk {
	display: inline-block;
	border-radius: 63px;
	background-color: #e1e1e1;
	width: 63px;
	height: 39px;
	padding-top: 24px;
	margin-right: 28px;
}

.vk img {
	margin: 0px auto;
	display: block;
}

.vk:hover {
	background-color: #fb565a;
	cursor: pointer;
}

.vk:active {
	background-color: #d6494d;
	cursor: pointer;
}

.footer-social-buttons .fb {
	display: inline-block;
	border-radius: 63px;
	background-color: #e1e1e1;
	width: 63px;
	height: 43px;
	padding-top: 20px;
	margin-right: 28px;
}

.fb img {
	margin: 0px auto;
	display: block;
}

.fb:hover {
	background-color: #fb565a;
	cursor: pointer;
}

.fb:active {
	background-color: #d6494d;
	cursor: pointer;
}

.footer-social-buttons .inst {
	display: inline-block;
	border-radius: 63px;
	background-color: #e1e1e1;
	width: 63px;
	height: 42px;
	padding-top: 21px;
}

.inst img {
	margin: 0px auto;
	display: block;
}

.inst:hover {
	background-color: #fb565a;
	cursor: pointer;
}

.inst:active {
	background-color: #d6494d;
	cursor: pointer;
}
		
footer p {
	float: right;
	font-size: 36px;
	margin-right: 20px;
	}
	
footer p span{
	font-size: 16px;
}

/* Стили страницы catalog */

/* стили слайдера цены */

.range-filter{
    width:240px;
    margin:0;
}

.range-controls{
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f1f1f1;
    border-radius:5px;
    overflow:hidden;
}

.range-controls .scale{
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}

.range-controls .bar{
    height:2px;
    background:#00ca74;
}

.range-controls .toggle{
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
    box-shadow:0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle{
    left:70px;
}

.range-controls .max-toggle{
    left:165px;
}

.price-controls input{
    width:60px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#f1f1f1;
    font-size:16px;
    font-weight:300;
    font-style:normal;
    text-align:center;
    color:#283136;
    border-radius:5px;
}

.price-controls .min-price{
    margin-right:14px;
}

.price-controls{
    white-space:nowrap;
	margin-bottom: 53px;
}

/* стили слайдера цены */
   
.wrapper-forms {
	width: 240px;
	float: left;
	margin-bottom: 10px;
}

.wrapper-forms form {
}

.wrapper-forms form ul {
	list-style: none;
	line-height: 30px;
	margin-top: 22px;
	margin-bottom: 40px;
}

.wrapper-forms form input[type="submit"] {
	display: block;
	border: none;
	padding: 9px 41px;
	background-color: #f1f1f1;
	color: #212324;
	font-weight: bold;
	cursor: pointer;
}

.shop-catalog {
	width: 580px;
	float: right;
	margin-bottom: 10px;
}
	
.shop-catalog .filter-catalog {
	margin-bottom: 40px;
}
	
.pictures-catalog {
		position: relative;
}
	
.pictures-catalog .wrap-pict-catalog {
	width: 240px;
	float: left;
	padding-top: 30px;
	margin: 0 20px 80px 20px;
	background-image: url(../img/browser_none.png);
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.wrap-pict-catalog:hover .info-price {
	display: none;
}
	
.pictures-catalog .info-price {
	display: none;
	position: absolute;
	top: 50px;
	left: 40px;
	width: 200px;
	background-color: #fff;
	color: #000;
}

.info-price span{
	font-size: 18px;
	line-height: 8.56px;
	font-weight: 800;
	color: #000;
}

.info-price p{
	font-size: 14px;
	line-height: 18px;
	font-weight: 800px;
	color: #283136;
}

.info-price a{
	display: block;
	padding: 38px 70px;
	font-size: 18px;
	line-height: 8.56px;
	font-weight: 800;
	background-color: #fb565a;
	color: #fff;
}
	
ul.pagination {
	width: 300px;
	margin: 80px auto;
	overflow: hidden;
	clear: both;
}
	
ul.pagination li {
	float: left;
	list-style: none;
	margin-left: 10px;
}

.pagination li a {
	display: block;
	padding: 16px;
	border: 2px solid #f2f2f2;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

input[type="checkbox"], input[type="radio"]{
    display: none;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    vertical-align: middle;
    border: 4px solid #fff;
	box-shadow: 0 0 0 3px #bdc3c7;
}

input[type="radio"] + label:before{
    border-radius: 50%;
}

input[type="checkbox"] + label:before{
    border-radius: 10%;
	 box-shadow: 0 0 0 2px #bdc3c7;
}

input[type="checkbox"]:checked + label:before{
    border-radius:none;
	 box-shadow:none;
	  border:none;
}

input[type="radio"]:checked + label:before{
    background: #bdc3c7;
}

input[type="checkbox"]:checked + label::before {
content: ' ';
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    vertical-align: middle;
    border: none;
   background: url('../img/activ-ch.png') center no-repeat white;
   background-size:contain;
}